.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: fit-content;
    margin: 0px auto;
}

.product-container {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px;
    margin-top: 80px;
}
