.header {
    height: 80px;
    background: #1C2B35;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: orange;
}